{% extends "layout.html" %}
{% load static %}
{% block css_files %}
        <link rel="stylesheet" href="{%static 'courses/css/style.css'%}">
{% endblock  %}


{% block  page_title %}Kurs Resmi Yükleme{% endblock %}


{% block content %}
        <div class="container mt-3">
                <div class="row">
                    <div class="col-12" style="border:dashed; background-color:Lime">
                       <form action="{% url "upload_image" %}" method="POST" enctype = "multipart/form-data">
                        {% csrf_token %}
                                <div class="input-group">
                                        <input type="file" class="form-control" name="images" multiple="true">
                                        <button class="btn btn-outline-secondary" type="submit">Yükle</button>
                                </div>
                       </form>
                    </div>
                </div>
        </div>
{% endblock  %}  






{% block js_files %}
        <script src= "{%static 'courses/js/script.js' %}"></script>
{% endblock  %}